{% extends "base.html.twig" %}

{% block title %}
    Blog Symfony | Profil
{% endblock %}

{% block body %}
    
<h1 class="display-4 text-center mt-2 mb-5">Profil</h1>



{# {{ dump(user) }} #}

<div class="card p-5 container border shadow-sm col-6 mx-auto">

    <h3 class="text-center">Vos informations</h3>

    <hr class="w-50 mx-auto mb-3 my-0">

    {% if user.roles.0 == 'ROLE_ADMIN' %}
        <p class="text-center text-secondary mb-2">Vous êtes connecté en tant qu'ADMINISTRATEUR</p>
    {% endif %}

    <div class="my-1">Email : {{ user.email }}</div>

    <div class="my-1">Prenom : {{ user.prenom }}</div>

    <div class="my-1">Nom : {{ user.nom }}</div>

    <div class="my-1">Adresse : {{ user.adresse }}</div>

    <div class="my-1">Ville : {{ user.ville }}</div>

    <div class="my-1">Code postal : {{ user.codePostal }}</div>

</div>

<h3 class="mt-5">Derniers articles de l'utilisateur</h3>

<table class="table table-borderless my-5" id="table-profil">
    <thead>
        <tr class="text-center">
            <th>Titre</th>
            <th>Catégorie</th>
            <th>Date</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        {% for data in user.article %}
            <tr>
                <td><a href="{{ path('blog_show', {'id': data.id}) }}" class="link-secondary">{{ data.titre }}</a></td>
                <td class="text-center"><a href="{{ path('blog_categorie', {'id': data.category.id }) }}" class="link-secondary">{{ data.category.titre }}</a></td>
                <td class="text-center">{{ data.date|date('d/m/Y à H:i:s') }}</td>
                <td class="text-center"><a href=""><i class="bi bi-pencil-fill text-success" style="font-size: 24px !important;"></i></a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}