{% extends "base.html.twig" %}

{% block title %}
    BlogSymfony | Liste des articles
{% endblock %}

{% block body %}


<div class="row mb-2">

{# cet objet 'articles' ne sort pas de nul part, c'est ce que le controller a transmit au template, c'est à dire à l'ensemble des articles selectionnés en BDD #}
{% for data in articles %}

    {# 'data' ne sort pas de nul part, c'est une variable de réception que nous definissons dans la boucle FOR qui receptionne 1 article par tour de boucle FOR #}
    {# {{ dump(data) }} #}

    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm position-relative card-blog">

            {% if data.photo != null %}
                {% set col = 8 %}
            {% else %}
                {% set col = 12 %}
            {% endif %}
            <div class="col-{{ col }} p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">World</strong>
                <h3 class="mb-0">{{ data.titre }}</h3>
                <small class="mb-1 text-muted">Publié le {{ data.date|date("Y-m-d") }}</small>
                <p class="card-text mb-auto">{{ data.contenu|slice(0, 40)|striptags }} ...</p>

                {# On fournit à la route l'id de l'article à transmettre dans l'url #}
                {# la route 'blog_show' est une route paramétrée, on doit lui transmettre un id dans l'URl #}
                <a href="{{ path('blog_show', {'id': data.id}) }}" class="stretched-link">Lire la suite</a>
            </div>

            {% if data.photo != null %}
                <div class="col-4 d-none d-lg-block">
                    {# replace() : fonction twig permettant permettant de remplacer un élément dans une chaine de caractères #}
                    <img src="{{ asset('uploads/photos/' ~ data.photo) }}" alt="{{ data.titre }}" class="col-12 img-responsive">
                </div>
            {% endif %}

        </div>
    </div>

{% endfor %}

</div>

{% endblock %}