{% extends "base.html.twig" %}

{% block title %}
    BlogSymfony | Détails de l'article
{% endblock %}

{% block body %}
    
    <h1 class="text-center my-5">Détails de l'article {{ articles.id }}</h1>

        {# {{ dump(articles) }} #}

    {# Affichage des messages utilisateurs stockés en session (addFlash() dans le controller) #}
    {# app: objet twig qui contient toute les informations de la session en cours #}
    {% for message in app.flashes('success') %}
        <div class="col-6 mx-auto text-center bg-success p-3 rounded text-white mb-3">
            {{ message }}
        </div>
    {% endfor %}

    {% if articles.photo != null %}
        {% set col = 8 %}
    {% else %}
        {% set col = 12 %}
    {% endif %}

    <div class="col-md-12">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm position-relative">
            <div class="col-{{ col }} p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">Design</strong>
                <h3 class="mb-0">{{ articles.titre }}</h3>
                <div class="mb-1 text-muted">Publié le {{ articles.date|date('Y-m-d') }}</div>

                <p class="card-text mb-auto">{{ articles.contenu|raw }}</p>

                <p class="mt-3">
                    <a href="{{ path('blog_edit', {'id': articles.id }) }}" class="btn btn-dark">Modifier</a>
                    <a href="#" class="btn btn-dark">Supprimer</a>
                </p>
            </div>

            {% if articles.photo != null %}

                <div class="col-4 d-none d-lg-block">
                    <img src="{{ asset('uploads/photos/' ~ articles.photo)  }}" alt="{{ articles.titre }}">
                </div>

            {% endif %}
            

        </div>
    </div>

{% endblock %}