{% extends "base_admin.html.twig" %}

{% block title %}
    Blog Symfony | Gestion des utilisateurs
{% endblock %}

{% block body %}
    
    <table class="table table-striped" id="table-users">
    <thead>
        <tr>
            {% for data in colonnes %}

                {% if data != 'id' and data != 'password' %}

                    <th class="text-center table-success">{{ data|capitalize }}</th>

                {% endif %}
                

            {% endfor %}
            <th class="text-center table-success">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in utilisateurs %}

            <tr class="text-center align-middle">

                <td>{{ user.email }}</td>
                <td>
                {% for data in user.roles %}
                    {% if data == 'ROLE_ADMIN' %}
                        ADMINISTRATEUR
                    {% elseif data == 'ROLE_USER' %}
                        USER
                    {% endif %}
                {% endfor %}
                
                </td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.adresse }}</td>
                <td>{{ user.ville }}</td>
                <td>{{ user.codePostal }}</td>
                <td>
                    <a href="{{ path('bo_users_edit', {'id': user.id}) }}" class="badge"><i class="bi bi-pencil-fill text-success" style="font-size: 24px !important;"></i></a>&nbsp;
                    <a href="{{ path('bo_users_remove', {'id': user.id}) }}" class="badge"><i class="bi bi-trash-fill text-danger" style="font-size: 24px !important;"></i></a>
                </td> 

            </tr>

        {% endfor %}
    </tbody>
    </table>

{% endblock %}